<div class="profile-container">
  <h2>My Profile</h2>

  <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>

  <div *ngIf="!isLoading">
    <section class="section">
      <div *ngIf="watchedMovies.length > 0">
        <h3>Watched Movies</h3>
        <app-movie-list [movies]="watchedMovies" [showActions]="false">
        </app-movie-list>
      </div>

      <p *ngIf="watchedMovies.length === 0" class="empty-message">
        You haven't marked any movies as watched yet
      </p>
    </section>

    <section class="section">
      <div *ngIf="favoriteMovies.length > 0">
        <h3>Favorites</h3>
        <app-movie-list [movies]="favoriteMovies" [showActions]="false">
        </app-movie-list>
      </div>

      <p *ngIf="favoriteMovies.length === 0" class="empty-message">
        You haven't marked any movies your favorite yet
      </p>
    </section>
  </div>
</div>